.table{
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}


th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #ebeae5;
}