.wrapper {
  margin: 0 auto;
  text-align: center;
}

.formWrap {
 text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.formWrap input {
  display: block;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}

.formWrap input[type="submit"]{
  display: block;
  margin: 0 auto;
  background-color: rgb(74, 100, 247);
}
